# Lab 1

## 16th February 2021

### Q1
#### Assign the values 1000, 5, and 0.05 to variables D, K, and h respectively.

In [1]:
D <- 1000
K <- 5
h <- 0.05

### Q2
#### Compute 2×D×K

In [2]:
dk_2 <- D * K * 2
print(dk_2)

[1] 10000

### Q3
#### Compute (2×D×K)/h.

In [3]:
dkh <- dk_2/h
print(dkh)

[1] 2e+05

### Q4
#### Now put this together to compute the Economic Order Quantity, which is $\sqrt\frac{2DK}{h}$

In [6]:
Q <- sqrt(dkh)
print(Q)

[1] 447.2136

### Q4
#### Create this vector my_vec <- 1:10

In [10]:
my_vec <- 1:10

### Q5
#### Add 1 to every element in my_vec

In [11]:
my_vec <- my_vec+1

### Q6
#### Divide every element in my_vec by 2

In [12]:
my_vec <- my_vec/2

### Q7
#### Create a second vector my_vec2 <- 10:18 and add my_vec to my_vec2

In [14]:
my_vec2 <- 10:18
my_vec2 <- my_vec2 + my_vec

Warning message in my_vec2 + my_vec:
"longer object length is not a multiple of shorter object length"

In [15]:
my_vec2

 [1] 11.0 12.5 14.0 15.5 17.0 18.5 20.0 21.5 23.0 15.5

### Q8
#### Create a sequence of 15 numbers in all different ways and write a paragraph on the difference between each method.

In [28]:
one <- 1:15
two <- seq(1,15)
three <- rep(0,times = 15)
four <- c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

In [29]:
one

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [30]:
two

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [31]:
three

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [32]:
four

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

```first``` creates a vector from 1 to 15, incremented by 1 in each step. ```two``` created a *sequence* from 1 to 15, incremented by 1. ```three``` creates a repetition of number as given, which can be more that one and *times* tells how many times the number is to be repeated. ```four``` creates a vector of the elements given.

### Q9
#### Create a factor vector of 15 elements using a sequence/range and assign a label to each factor level.

In [54]:
x <- factor(c("odd","even"))
my_vec <- 1:15
factor(my_vec)

 [1] 1  2  3  4  5  6  7  8  9  10 11 12 13 14 15
Levels: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

### Q10
#### Create a Data Frame with a minimum of 5 variables and generate data for 20 observations. The data frame should have at least a factor variable and a logical variable.

In [65]:
name <- c("A","B","C","D","E","F","G","H","I","J",
          "K","L","M","N","O","P","Q","R","S","T")
age <- c(23,41,32,33,56,23,45,74,33,55,
        34,56,23,45,64,56,33,90,22,34)
sex <- c("M","F","F","M","F","M","M","F","M","F",
         "M","F","M","F","F","M","M","M","M","F")
retired <- c(FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,
             FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE)
country <- c('India','India','India','India','Uruguay','India','India','USA','India','India',
            'India','India','India','Brazil','India','India','India','India','India','Pakistan')

df <- data.frame(name,age,sex,retired,country)

print (df)

   name age sex retired  country
1     A  23   M   FALSE    India
2     B  41   F   FALSE    India
3     C  32   F   FALSE    India
4     D  33   M   FALSE    India
5     E  56   F   FALSE  Uruguay
6     F  23   M   FALSE    India
7     G  45   M   FALSE    India
8     H  74   F    TRUE      USA
9     I  33   M   FALSE    India
10    J  55   F   FALSE    India
11    K  34   M   FALSE    India
12    L  56   F   FALSE    India
13    M  23   M   FALSE    India
14    N  45   F   FALSE   Brazil
15    O  64   F    TRUE    India
16    P  56   M   FALSE    India
17    Q  33   M   FALSE    India
18    R  90   M    TRUE    India
19    S  22   M   FALSE    India
20    T  34   F   FALSE Pakistan

### Q11
#### Write a R program to call the (built-in) dataset mtcars.

In [74]:
data('mtcars')

### Q12
#### Order the entire data frame by the first and second column

Before sorting

In [75]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [76]:
result = mtcars[order(mtcars[,1]),]

After sorting

In [78]:
head(result)

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8